@page "/"

<PageTitle>Index</PageTitle>

<div class="gap-2 py-5 d-flex col-lg-6 col-xxl-4 my-5 mx-auto justify-content-center align-items-center">
    <div class="d-grid gap-2 justify-content-center">
        <h1 style="text-align: center">Hello, world!</h1>
        Welcome to my authentication service.
        <div class="d-flex gap-4 justify-content-center">
            <a href="Login" class="btn btn-primary d-inline-flex align-items-center">Log In</a>
            <a href="Register" class="btn btn-outline-secondary d-inline-flex align-items-center">Register</a>
        </div>
   </div>
</div>